<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pesanan</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
        * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
        }
        body {
          font-family: "Inter", sans-serif;
        }
        .titles{
            position: center;
        }
        .formbold-main-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 48px;
        }
      
        .formbold-form-wrapper {
          margin: 0 auto;
          max-width: 550px;
          width: 100%;
          background: white;
        }
      
        .formbold-input-flex {
          display: flex;
          gap: 20px;
          margin-bottom: 22px;
        }
        .formbold-input-flex > div {
          width: 50%;
          display: flex;
          flex-direction: column-reverse;
        }
        .formbold-textarea {
          display: flex;
          flex-direction: column-reverse;
        }
      
        .formbold-form-input {
          width: 100%;
          padding-bottom: 10px;
          border: none;
          border-bottom: 1px solid #DDE3EC;
          background: #FFFFFF;
          font-weight: 500;
          font-size: 16px;
          color: #07074D;
          outline: none;
          resize: none;
        }
        .formbold-form-input::placeholder {
          color: #536387;
        }
        .formbold-form-input:focus {
          border-color: #6A64F1;
        }
        .formbold-form-label {
          color: #07074D;
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          display: block;
          margin-bottom: 18px;
        }
        .formbold-form-input:focus + .formbold-form-label {
          color: #6A64F1;
        }
      
        .formbold-input-file {
          margin-top: 30px;
        }
        .formbold-input-file input[type="file"] {
          position: absolute;
          top: 6px;
          left: 0;
          z-index: -1;
        }
        .formbold-input-file .formbold-input-label {
          display: flex;
          align-items: center;
          gap: 10px;
          position: relative;
        }
      
        .formbold-filename-wrapper {
          display: flex;
          flex-direction: column;
          gap: 6px;
          margin-bottom: 22px;
        }
        .formbold-filename {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 14px;
          line-height: 24px;
          color: #536387;
        }
        .formbold-filename svg {
          cursor: pointer;
        }
      
        .formbold-btn {
          font-size: 16px;
          border-radius: 5px;
          padding: 12px 25px;
          border: none;
          font-weight: 500;
          background-color: #6A64F1;
          color: white;
          cursor: pointer;
          margin-top: 25px;
        }
        .formbold-btn:hover {
          box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
        }
        a {
            display: block;
            text-align: center;
            margin: 20px;
            text-decoration: none;
            color: #000;
            background-color: #f2f2f2;
            padding: 10px;
            border-radius: 5px;
        }
        a:hover {
            background-color: #ddd;
        }
    </style>
</head>
<body>
    <center>
    <h1>Update Data Customer</h1>
    </center>
    <div class="formbold-main-wrapper">
        <div class="formbold-form-wrapper">
            <form action="/edit/<%= pesanan._id %>" method="POST" enctype="multipart/form-data">
              <div class="formbold-input-flex">
                <div>
                    <input
                    type="text"
                    name="male_name"
                    id="firstname"
                    placeholder=""
                    class="formbold-form-input"
                    value="<%= pesanan.male_name %>"
                    required
                    />
                    <label for="firstname" class="formbold-form-label"> Nama Pengantin Laki-Laki </label>
                </div>
                <div>
                    <input
                    type="text"
                    name="female_name"
                    id="lastname"
                    placeholder=""
                    class="formbold-form-input"
                    value="<%= pesanan.female_name %>"
                    required
                    />
                    <label for="lastname" class="formbold-form-label"> Nama Pengantin Perempuan </label>
                </div>
              </div>
      
              <div class="formbold-input-flex">
                <div>
                    <input
                    type="text"
                    name="bi_male"
                    id="email"
                    placeholder=""
                    class="formbold-form-input"
                    value="<%= pesanan.bi_male %>"
                    />
                    <label for="email" class="formbold-form-label"> Bapak/Ibu Laki-Laki </label>
                </div>
                <div>
                    <input
                    type="text"
                    name="bi_female"
                    id="phone"
                    placeholder=""
                    class="formbold-form-input"
                    value="<%= pesanan.bi_female %>"
                    />
                    <label for="phone" class="formbold-form-label"> Bapak/Ibu Perempuan </label>
                </div>
              </div>
      
              <div class="formbold-textarea">
                  <textarea
                      rows="6"
                      name="quotes"
                      id="message"
                      placeholder="Masukan Alamat dan Sertakan No.Hp"
                      class="formbold-form-input"
                  ><%= pesanan.quotes %></textarea>
                  <label for="message" class="formbold-form-label"> Alamat </label>
              </div>
      
              <div class="formbold-textarea">
                <textarea
                    rows="6"
                    name="theme"
                    id="theme"
                    placeholder="ketik Ya bila data yang anda masukan sudah benar"
                    class="formbold-form-input"
                ><%= pesanan.theme %></textarea>
                <label for="theme" class="formbold-form-label"> Tema </label>
              </div>

            <div class="formbold-textarea">
                <textarea
                    rows="6"
                    name="status"
                    id="status"
                    placeholder="Isi link dari web yang telah di buat sesuai pesanan"
                    class="formbold-form-input"
                ><%= pesanan.status %></textarea>
                <label for="status" class="formbold-form-label"> Status </label>
            </div>
      
              <div class="formbold-input-file">
                <div class="formbold-filename-wrapper">
                  <span class="formbold-filename">
                    Masukan Foto Dalam Bentuk Zip/RAR
      
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1670_1541)">
                    <path d="M9.00005 7.93906L12.7126 4.22656L13.7731 5.28706L10.0606 8.99956L13.7731 12.7121L12.7126 13.7726L9.00005 10.0601L5.28755 13.7726L4.22705 12.7121L7.93955 8.99956L4.22705 5.28706L5.28755 4.22656L9.00005 7.93906Z" fill="#536387"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_1670_1541">
                    <rect width="18" height="18" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                  </span>
                  
                </div>
                <% if (pesanan.photo) { %>
                <label for="upload" class="formbold-input-label">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1670_1531)">
                    <path d="M12.3568 6.4644L7.64349 11.1786C7.5639 11.2554 7.50041 11.3474 7.45674 11.4491C7.41307 11.5507 7.39008 11.6601 7.38912 11.7707C7.38815 11.8814 7.40924 11.9911 7.45114 12.0935C7.49304 12.1959 7.55492 12.289 7.63316 12.3672C7.71139 12.4454 7.80451 12.5073 7.90689 12.5492C8.00928 12.5911 8.11899 12.6122 8.22964 12.6113C8.3403 12.6103 8.44965 12.5873 8.55127 12.5436C8.65288 12.4999 8.74484 12.4364 8.82162 12.3568L13.5359 7.64349L12.3568 6.4644ZM9.99995 19.1663C8.84663 19.1663 7.70688 18.9448 6.63473 18.5156C5.56258 18.0864 4.57709 17.4573 3.72768 16.6369C2.90728 15.7875 2.27811 14.802 1.84889 13.7298C1.41968 12.6577 1.19818 11.518 1.19818 10.3647C1.19818 9.21136 1.41968 8.07161 1.84889 6.99946C2.27811 5.92731 2.90728 4.94182 3.72768 4.09241C4.57709 3.27201 5.56258 2.64284 6.63473 2.21362C7.70688 1.78441 8.84663 1.56291 9.99995 1.56291C10.4065 1.56291 10.7987 1.74838 11.0613 2.05756C11.3238 2.36674 11.4345 2.76898 11.3687 3.16226L11.1383 4.6085C11.0916 4.88322 10.9537 5.13086 10.7487 5.3109C10.5437 5.491 10.2859 5.59115 10.0166 5.59118H7.83328C7.36475 5.59118 6.91474 5.78176 6.57911 6.11739C6.24348 6.45302 6.05289 6.90303 6.05289 7.37157C6.05289 7.8401 6.24348 8.29011 6.57911 8.62574C6.91474 8.96137 7.36475 9.15195 7.83328 9.15195H9.33328C9.60437 9.15195 9.87114 9.22384 10.106 9.36052C10.341 9.4972 10.535 9.69369 10.667 9.93113C10.799 10.1686 10.8641 10.4386 10.8534 10.7116C10.8428 10.9846 10.7568 11.2471 10.6076 11.4667L10.2308 12.0158C10.0657 12.2771 9.83102 12.4912 9.55048 12.6357C9.26994 12.7802 8.95416 12.8507 8.63328 12.8412H7.59995C7.31009 12.8412 7.03168 12.7246 6.82941 12.5209C6.62713 12.3173 6.51562 12.0458 6.51562 11.7633C6.51562 11.5432 6.4298 11.3331 6.27686 11.1783C6.12392 11.0235 5.91427 10.9377 5.69414 10.9377C5.474 10.9377 5.26436 11.0235 5.11142 11.1783C4.95847 11.3331 4.87266 11.5432 4.87266 11.7633C4.87266 12.0458 4.76114 12.3173 4.55887 12.5209C4.35659 12.7246 4.07818 12.8412 3.78832 12.8412H2.75545C2.43461 12.8507 2.11883 12.7802 1.83829 12.6357C1.55775 12.4912 1.32308 12.2771 1.15796 12.0158C0.884505 11.6089 0.727225 11.1162 0.727225 10.6065C0.727225 9.57771 1.12263 8.59033 1.83087 7.8479C2.53911 7.10546 3.50472 6.66667 4.51437 6.66667H6.31408C6.63496 6.67623 6.95073 6.60566 7.23127 6.46115C7.51181 6.31664 7.74649 6.1026 7.91161 5.84129L8.28845 5.29215C8.43768 5.0726 8.52362 4.81012 8.53424 4.53711C8.54486 4.2641 8.47979 3.99408 8.34778 3.75661C8.21577 3.51914 8.0218 3.32265 7.78677 3.18601C7.55173 3.04937 7.28498 2.97749 7.01383 2.97749H5.51383C5.0453 2.97749 4.59529 2.7869 4.25966 2.45127C3.92403 2.11564 3.73345 1.66563 3.73345 1.1971C3.73345 0.728566 3.92403 0.278556 4.25966 -0.0570773C4.59529 -0.392711 5.0453 -0.58329 5.51383 -0.58329H7.99995C8.68424 -0.58329 9.36271 -0.457443 10.0006 -0.212721C10.6385 0.0320014 11.2222 0.470797 11.7176 1.07756C12.2131 1.68432 12.5993 2.43524 12.842 3.24834C13.0848 4.06144 13.1774 4.91767 13.1148 5.76311C13.0523 6.60855 12.8366 7.42811 12.485 8.16069C12.1335 8.89327 11.6548 9.52074 11.0882 10.005C10.6431 10.4115 10.1816 10.7893 9.70828 11.1373L9.99995 10.3647Z" fill="#536387"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_1670_1531">
                    <rect width="20" height="20" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                  </label>
                <% } else { %>
                  <label for="upload" class="formbold-input-label"> Upload File </label>
                <% } %>
                <input
                  type="file"
                  name="photo"
                  id="upload"
                  class="formbold-form-input"
                />
              </div>
              <button type="submit" class="formbold-btn">Submit</button>
            </form>
        </div>
    </div>
    <a href="/">Kembali Ke Dashboard</a>
</body>
</html>
